name: Autolabel

on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: write
  pull-requests: write

jobs:
  autolabel:
    name: Autolabel PR
    runs-on: ubuntu-slim
    steps:
      - name: Label PR
        id: drafter
        uses: release-drafter/release-drafter@v6
        with:
          disable-releaser: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
